.intro {
    background-color: blue;
}
.heading {
    background-color: aqua;

}
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.topnav {
    overflow: hidden;
    background-color:darkslategray;
  }
  
  /* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change color on hover */
.topnav a:hover {
    background-color: white;
    color: blue;
}
h1 {
    font-size: 3rem;
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 20px;
}
h2 {
    font-size: 2.5rem;
}
h3 { 
    font-size: 1.75rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
}